@media screen and (max-width: 1229px) {
  .products {
    .container {
      display: grid;
      grid-template-columns: 263px 263px;
      grid-template-rows: auto auto;
      grid-column-gap: 29px;
      grid-row-gap: 136px;
      align-items: center;
      justify-content: center;

      .products-title {
        grid-area: 1/1/2/3;
        padding-bottom: 7px;

        .product.one {
          grid-area: 2/1/3/2;
        }

        .product.two {
          grid-area: 2/2/3/3
        }

        .product.three {
          grid-area: 3/1/4/2;
        }

        .product.four {
          grid-area: 3/2/4/3;
        }
      }
    }
  }
}

@media screen and (max-width: 1163px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .macaroons {
    padding-top: 90px;

    .container {
      grid-column-gap: 0;

      h1 {
        font-size: 48px;
        width: 506px;
      }
    }
  }

  .advantages-image {
    width: 470px;

    img {
      width: 100%;
    }
  }

}

@media screen and (max-width: 1160px) {
  .footer {
    .container {
      grid-template-columns: auto 250px auto 270px auto;
    }
  }
}

@media screen and (max-width: 1153px) {
  .little-image {
    bottom: 150px;
    left: 500px;
  }
}

@media screen and (max-width: 1074px) {
  .macaroons {
    .container {
      .macaroons-image
      .cle {
        width: 250px;
        height: 250px;
        left: calc(50% - 125px);
        top: calc(50% - 125px);
      }
    }
  }
}

@media screen and (max-width: 1071px) {
  .macaroons {
    .container {
      position: relative;
      overflow: visible;

      .macaroons-image {
        position: absolute;
        bottom: -65px;
        right: 50px;
      }
    }
  }
}

@media screen and (max-width: 1042px) {
  .form-title {
    text-align: start !important;
  }

  .form-info {
    max-width: 311px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1017px) {
  .advantages {
    .container {
      grid-column-gap: 27px;
    }
  }
}

@media screen and (max-width: 1017px) {
  .advantages {
    padding-top: 100px;
  }

  .order-image {
    margin-right: 150px;
  }
}

@media screen and (max-width: 980px) {
  .footer {
    .container {
      grid-template-columns: auto 180px auto 200px auto;
    }
  }
}

@media screen and (max-width: 964px) {
  .header {
    .container {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: center;

      .phone {
        grid-area: 1/3/2/4;
      }
    }
  }

  .advantages-image {
    width: 420px;
    align-self: center;

    img {
      width: 100%;
    }
  }

  .form-info {
    font-size: 16px;
  }

  .input {
    width: 260px;

    &::placeholder {
      font-size: 13px;
    }
  }

  .order {
    .button {
      width: 260px;
    }
  }

  .order-image {
    margin-right: 140px;

  }

  .little-image {
    left: 450px;
  }
}

@media screen and (max-width: 959px) {
  .macaroons {
    padding-top: 77px;
    padding-bottom: 62px;

    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 74px auto 20px 21px auto 356px;
      align-items: center;
      position: relative;
      overflow: hidden;

      .button {
        grid-area: 6/1/7/2;
      }

      .macaroons-image {
        position: absolute;
        width: 529px;
        bottom: -356px;
        left: -564px;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 932px) {
  .order {
    padding-top: 120px;

    .container {
      position: relative;
      overflow: visible;

      .order-image {
        width: 352px;
        margin-right: 0;
        margin-left: 0;
        position: absolute;
        bottom: -120px;
        right: 21px;

        img {
          &:first-child {
            width: 100%;
          }
        }
      }
    }
  }

  .little-image {
    right: 93px;
    top: 200px;
  }

  .form-info {
    font-size: 18px;
    margin-bottom: 48px;
  }

  .input {
    width: 294px;

    &::placeholder {
      font-size: 15px;
    }
  }

  .order {
    .button {
      width: 294px;
    }
  }

  .little-image {
    top: 160px;
    left: 760px;
  }
}

@media screen and (max-width: 889px) {
  .advantages {
    .container {
      display: grid;
      grid-template-columns: auto  auto;
      grid-template-rows: auto 40px auto 88px auto 80px auto;
      grid-column-gap: 54px;
      grid-row-gap: 0;
      justify-items: center;
      align-items: center;

      .advantages-info {
        .display();
        grid-area: 1/1/2/3;
        text-align: center;
        flex-direction: column;

        h2 {
          max-width: 475px;
        }

        .advantages-text {
          max-width: 668px;
        }
      }

      .advantages-image {
        grid-area: 3/1/4/3;
        width: 302px;

        img {
          width: 100%;
        }
      }

      .advantage {
        .display();
        flex-direction: column;

        .advantage-description {
          width: 221px;
          text-align: center;
        }
      }
    }
  }

  .block {
    display: block;
  }

  .advantage.one {
    grid-area: 5/1/6/2;
    justify-self: right;
  }

  .advantage.two {
    grid-area: 5/2/6/3;
    align-self: flex-start;
    justify-self: left;
  }

  .advantage.three {
    grid-area: 7/1/8/2;
    justify-self: right;
  }

  .advantage.four {
    grid-area: 7/2/8/3;
    justify-self: left;
  }

}

@media screen and (max-width: 840px) {
  .footer {
    .container {
      grid-template-columns: auto 140px auto 160px auto;
    }
  }

  .little-image {
    left: 665px;
  }
}

@media screen and (max-width: 768px) {

  .header {
    .container {
      display: grid;
      grid-template-columns: min-content 103px max-content;

      .menu {
        justify-self: center;
        grid-area: 1/3/2/4;
      }

      .phone {
        display: none;
      }
    }
  }

  .macaroons {
    h1 {
      width: 580px;
    }
  }

  .advantages {
    padding: 119px 0 120px 0;
  }

  .products {
    padding: 120px 0;
  }

  .little-image {
    left: 621px;
  }

  .footer {
    padding-top: 76px;
    padding-bottom: 59px;

    .container {
      display: grid;
      grid-template-columns: auto 135px auto 152px auto;
      grid-template-rows: 54px auto;

      .footer-phone {
        margin-left: 17px;
      }
    }
  }
}

@media screen and (max-width: 764px) {
  .footer {
    .container {
      grid-template-columns: auto 80px auto 80px auto
    }
  }
}

@media screen and (max-width: 731px) {
  .order {
    padding-bottom: 77px;
    padding-top: 102px;

    .container {
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .order-image {
        right: -352px;
        top: 220px;

        .strawberry {
          top: -70px;
          left: -132px;
        }
      }

      .order-form {
        .form-title {
          text-align: center;
          margin-bottom: 44px;
        }

        .form-info {
          text-align: center;
          margin: 0 auto;
        }

        .form {
          .display();
          margin: 0 auto;
          flex-direction: column;
          text-align: center;
          justify-content: center;

          .choice {
            margin-top: 15px;
            margin-bottom: 0;
          }

          #choice {
            margin-bottom: 21px;
            margin-top: 20px;
            width: 343px;

            &::placeholder {
              text-align: left;
            }

          }

          #name {
            width: 343px;

            &::placeholder {
              text-align: left;
            }
          }

          #phone {
            width: 343px;

            &::placeholder {
              text-align: left;
            }
          }

          #submit {
            width: 344px;
          }
        }
      }

      .little-image {
        display: none;
      }
    }
  }

  .form-control {
    margin-right: 0;
  }

  //#choice, #phone, #name {
  //  width: 343px ;
  //
  //  &::placeholder {
  //    text-align: left;
  //  }
  //}
}

@media screen and (max-width: 703px) {
  .macaroons-image {
    width: 475px;
    left: -500px;
    bottom: -377px;

    img {
      width: 100%
    }
  }
}

@media screen and (max-width: 657px) {
  .header {
    padding-bottom: 0;

    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, min-content);
      grid-row-gap: 20px;

      .logo {
        grid-area: 1/1/2/2;
      }

      .menu {
        grid-area: 2/1/3/2;
      }

      .phone {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 637px) {
  .footer {
    .container {
      grid-template-columns: auto auto;
      grid-template-rows: repeat(4, auto);
      justify-items: center;
      align-items: center;
      grid-row-gap: 20px;

      .logo {
        grid-area: 1/1/2/3;
      }

      .rights {
        grid-area: 3/1/4/3;
      }

      .instagram {
        grid-area: 2/1/3/2;
        flex-direction: unset;

        svg {
          margin-right: 10px;
          margin-bottom: 0;
        }
      }

      .footer-phone {
        grid-area: 2/2/3/3;
      }
    }
  }
}

@media screen and (max-width: 594px) {
  .macaroons {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, min-content);
      grid-row-gap: 40px;
      align-items: center;
      justify-items: center;
      text-align: center;

      h1 {
        font-size: 40px;
        width: 422px;
        grid-area: 1/1/2/2;
      }

      .macaroons-text {
        grid-area: 2/1/3/2;
        text-align: center;
        align-self: center;
      }

      .button {
        grid-area: 3/1/4/2;
      }

      .macaroons-image {
        position: relative;
        grid-area: 4/1/5/2;
        width: 420px;
        top: 0;
        left: 0;

        img {
          width: 100%;
        }

        .cle {
          width: 200px;
          height: 200px;
          left: calc(50% - 100px);
          top: calc(50% - 100px);
        }
      }
    }
  }

  .advantages {
    h2 {
      max-width: 380px;
      font-size: 40px;
    }
  }

  .products-title {
    font-size: 40px;
    width: 338px;
    justify-self: center;
  }

  .form-title {
    font-size: 40px;
  }

}

@media screen and (max-width: 584px) {

  .products {
    padding: 100px 0;

    .container {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto 122px auto 142px auto 136px auto 136px auto;
      justify-items: center;
      align-items: center;
      grid-row-gap: 0;

      .products-title {
        grid-area: 1/1/2/2;
        /*font-size: 30px;
        width: 338px;*/
      }

      .product.one {
        grid-area: 3/1/4/2;
      }

      .product.two {
        grid-area: 5/1/6/2;
      }

      .product.three {
        grid-area: 7/1/8/2;
      }

      .product.four {
        grid-area: 9/1/10/2;
      }
    }
  }
}

@media screen and (max-width: 544px) {

  .advantages-text {
    max-width: 425px;
    font-size: 16px;
  }

  .advantage-title {
    font-size: 18px;
  }

  .advantage-description {
    font-size: 13px;
    width: 200px;
  }
}

@media screen and (max-width: 531px) {
  .advantages {
    padding: 100px 0;

    .container {
      display: grid;
      grid-template-columns: 165fr 165fr;
      grid-template-rows: auto 59px auto 61px auto 36px auto;
      grid-column-gap: 15px;
      grid-row-gap: 0;
      align-items: center;
      justify-content: center;

      .advantages-info {
        h2 {
          font-size: 38px;
          line-height: 35px;
          max-width: 380px;
          margin-bottom: 40px;
        }

        .advantages-text {
          max-width: 344px;
          font-size: 16px;
        }
      }

      .advantage {
        .advantage-title {
          max-width: 165px;
          font-size: 18px;
        }

        .advantage-description {
          max-width: 165px;
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 485px) {

  .macaroons {
    .container {
      .macaroons-image
      .cle {
        width: 160px;
        height: 160px;
        left: calc(50% - 80px);
        top: calc(50% - 80px);
      }
    }
  }


}

@media screen and (max-width: 471px) {
  .macaroons h1 {
    font-size: 36px;
  }

  .advantages h2 {
    font-size: 36px;
  }

  .products-title {
    font-size: 36px;
  }

  .form-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 456px) {
  .macaroons {
    padding-top: 67px;
    padding-bottom: 43px;

    .container {
      display: grid;
      grid-template-columns: min-content;
      grid-template-rows: repeat(4, auto);
      grid-row-gap: 40px;
      justify-items: center;
      align-items: center;
      justify-content: center;

      h1 {
        text-align: center;
        /* font-size: 36px;*/
        line-height: 40px;
        max-width: 360px;
      }

      .macaroons-text {
        grid-area: 2/1/3/2;
      }

      .macaroons .button {
        grid-area: 3/1/4/2;
      }

      .macaroons-image {
        grid-area: 4/1/5/2;
        width: 280px;
        position: relative;
        top: 0;
        left: 0;

        img {
          width: 100%;
        }
      }
    }
  }

  .advantages h2 {
    font-size: 36px;
  }

}

@media screen and (max-width: 446px) {
  .order {
    .container {
      .order-image {
        .strawberry {
          top: -17px;
        }
      }
    }
  }

  .form-title {
    text-align: center !important;
  }
}

@media screen and (max-width: 435px) {

  .macaroons {
    .container {
      h1 {
        max-width: 319px;
        font-size: 32px;
      }
    }
  }

  .advantages {
    padding-bottom: 50px;

    .container {
      grid-column-gap: 10px;

      .advantages-info {
        h2 {
          font-size: 28px;
          max-width: 290px;
        }

        .advantages-text {
          max-width: 280px;
          font-size: 14px;
        }
      }

      .advantages-image {
        width: 280px;

        img {
          width: 100%;
        }
      }

      .advantage {
        .advantage-title {
          max-width: 135px;
          font-size: 15px;
        }

        .advantage-description {
          max-width: 133px;
          font-size: 12px;
        }
      }
    }
  }

  .products-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .order {
    .container {
      .order-image {
        .strawberry {
          width: 65px;
          top: 0;
          left: -125px;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 383px) {

  .products {
    padding: 50px 0;

    .products-title {
      font-size: 28px;
      width: 310px;
    }
  }
}

@media screen and (max-width: 375px) {

  .header {
    .container {
      .display();
      justify-content: space-between;

      .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.51);
        z-index: 10;

        .close {
          display: block;
          width: 24px;
          height: 24px;
          fill: #770b1d;
          position: absolute;
          top: 20px;
          left: 20px;
        }

        .menu-list {
          .display();
          flex-direction: column;
          justify-content: flex-start;
          margin: 0 auto;
          font-weight: bold;

          li {
            margin: 15px 0;
          }
        }
      }

      .phone {
        display: none;
      }

      .burger {
        display: block;

        .burger svg {
          fill: #821328;
        }
      }
    }
  }

  .menu.open {
    .display() !important;
  }

  .advantages {
    padding-bottom: 100px;

    h2 {
      font-size: 30px;
      max-width: unset;
    }

    .advantages-text {
      font-size: 16px;
      max-width: unset;
      width: 343px;
    }
  }

  .order {
    padding: 100px 0 77px 0;

    .form-title {
      text-align: left;
    }

    .form-info {
      font-size: 16px;
    }

    .form {
      text-align: left;
    }
  }

  .footer {
    padding: 50px 0;

    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-row-gap: 40px;
      align-items: center;
      justify-items: center;

      .logo {
        grid-area: 1/1/2/2;
        text-align: center;
        align-self: end;

        img {
          margin-bottom: 0;
        }
      }

      .rights {
        grid-area: 4/1/5/2;
      }

      .instagram {
        grid-area: 3/1/4/2;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
          margin-bottom: 15px;
          margin-right: 0;
        }
      }

      .footer-phone {
        grid-area: 2/1/3/2;
        text-align: center;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .macaroons {
    padding-top: 40px;
    padding-bottom: 25px;

    h1 {
      text-align: center;
      font-size: 28px;
      line-height: 30px;
      max-width: 295px;
    }

    .macaroons-text {
      font-size: 16px;
      text-align: center;
      max-width: 296px
    }

    .button {
      font-size: 16px;
      width: 220px;
    }
  }

  .advantages {
    .advantages-info {
      h2 {
        font-size: 28px;
      }

      .advantages-text {
        width: 290px;
      }
    }
  }

  #name, #choice, #phone, #submit {
    max-width: 290px;
  }

  .order {
    .container {
      .order-image {
        .strawberry {
          top: -71px;
          left: -115px;

          img {
            width: 100%;
          }
        }
      }

      .order-form {
        .form-title {
          font-size: 28px;
        }

        .form-info {
          margin-left: 0;
        }
      }
    }

  }
}

@media screen and (max-width: 350px) {
  .macaroons {
    h1 {
      text-align: center;
      max-width: 279px;
    }

    .button {
      font-size: 14px;
    }
  }

  .advantages-text {
    font-size: 16px;
  }
}

@import "common";